<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
  	<meta http-equiv="x-ua-compatible" content="ie=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  	<title>СВ Транс</title>
    <link rel="stylesheet" href="dist/fonts/stylesheet.css">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="body">
      <div class="header">
        <div class="header_top">
          <div class="container">
            <div class="header_top__inner">
              <div class="header_top_left">
                <div class="header_top__logo">
                  <a href="#">
                    <img src="img/logo.svg" alt="СВ Транс">
                  </a>
                </div>
                <div class="header_top__menu">
                  <ul>
                    <li><a href="#" class="text-medium blue">ЧАСТНЫМ ЛИЦАМ</a></li>
                    <li><a href="#" class="text-medium grey">БИЗНЕСУ</a></li>
                  </ul>
                </div>
              </div>
              <div class="header_top_right">
                <div class="header_top__login">
                  <a href="#" class="login_top">
                    <div class="login_top__icon">
                      <img src="" alt="">
                    </div>
                    <span class="login_top__text text-medium blue">
                      Войти в ЛК
                    </span>
                  </a>
                </div>
                <div class="header_top__search">
                  <a href="#" class="top_search">
                    <img src="" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="header_bottom__inner">
              <div class="header_bottom__menu">
                <ul id="menu">
                  <li><a href="#">Купить билет</a></li>
                  <li><a href="#">Грузовые перевозки</a></li>
                  <li>
                    <template>
                      <v-menu offset-y>
                        <template v-slot:activator="{ on, attrs }">
                          <div
                          class="dropdown-button"
                            v-bind="attrs"
                            v-on="on"
                          >
                            Документы и справка
                          </div>
                        </template>
                        <v-list>
                          <v-list-item
                            v-for="(item, index) in items"
                            :key="index"
                            @click=""
                          >
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                          </v-list-item>
                        </v-list>
                      </v-menu>
                    </template>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <v-app class="slider" id="slider">
          <div class="container">
            <template>
              <v-carousel :show-arrows="false" height="600px">
                <v-carousel-item
                  v-for="(item,i) in items"
                  :key="i"
                  :src="item.src"

                  reverse-transition="fade-transition"
                  transition="fade-transition"
                ></v-carousel-item>
              </v-carousel>
            </template>
          </div>
        </v-app>

        <div class="calc">
          <div class="container">
            <div class="calc_form">

            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">

        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: '#slider',
        vuetify: new Vuetify(),
        data () {
          return {
            items: [
              {
                src: 'img/slide1.png',
              },
              {
                src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
              },
              {
                src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
              },
              {
                src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
              },
            ],
          }
        },
      });
      new Vue({
        el: '#menu',
        vuetify: new Vuetify(),
        data: () => ({
          items: [
            { title: 'Документы' },
            { title: 'Справка' },
          ],
        }),
      })
    </script>
    <!-- <script src="dist/main.js"></script> -->
  </body>
</html>
