* {
	box-sizing: border-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder {
	color: #ABC3D9;
}
body {
	font-size: 14px;
	color: #4F4F4F;
	font-weight: 400;
	font-family: "TT Norms", sans-serif;
}
ol,
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #4F4F4F;
}
a:hover {
	text-decoration: none;
	color: #FF8A00;
}
.text-medium {
	font-weight: 500;
}
.text-bold {
	font-weight: bold;
}
.blue {
	color: #0EA6E7;
}
.grey {
	color: #647C92;
}
.img_title {
	font-size: 28px;
	line-height: 33px;
	z-index: 90;
}
.img_title-small {
	font-size: 16px;
	z-index: 90;
}
.img_title-lower {
	font-size: 14px;
	z-index: 90;
	opacity: 0.8;
}
.img_title-upper {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	z-index: 90;
}
.margin-bottom {
	margin-bottom: 18px;
}
.background-item {
	border-radius: 8px;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.background-item:hover {
	color: #fff;
}
.news_date__number {
	font-size: 64px;
	line-height: 76px;
	text-align: center;
	color: #333333;
}
.news_date__month {
	font-size: 16px;
	line-height: 22px;
	color: #B7B7B7;
}
.news_date {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.background-image {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
	z-index: 9;
}
.background-item:hover .background-image {
	-webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: -8px;
	margin-right: -8px;
}
.col-12 {
	width: 100%;
}
.col-6 {
	width: 50%;
}
.col-4 {
	width: 25%;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -8px;
	margin-right: -8px;
}
.row .lg-3 {
	width: 33.3333%;
}
.row .lg-2 {
	width: 66.6666%;
}
.row .lg-1 {
	width: 100%;
}
.row .lg-6 {
	width: 50%;
}
.row .lg-12 {
	width: 100%;
}
.block {
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 16px;
}
.wrapper {
	position: relative;
	overflow: hidden;
	z-index: 111;
}
.container {
	max-width: 1136px;
	margin: 0 auto;
	width: 100%;
	padding: 0;
}
.section {
	padding-top: 64px;
}
.bold {
	font-weight: bold;
}
.section_title {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 32px;
}
.section_title h1 {
	font-size: 24px;
	line-height: 28px;
	color: #283348;
	margin: 0;
	padding-right: 32px;
}
.title_url {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #0EA6E7;
	margin-top: 4px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
}
.dropdown-button::after {
  content: '';
  display: flex;
  width: 8px;
  height: 8px;
  background-image: url(img/arrow-down.svg);
  top: 7px;
  position: relative;
  left: 8px;
	-webkit-transition: transform .4s ease-out 0ms;
	-moz-transition: transform .4s ease-out 0ms;
	-o-transition: transform .4s ease-out 0ms;
	transition: transform .4s ease-out 0ms;
	transition-property: transform;
	transition-duration: .4s;
	transition-timing-function: ease-out;
	transition-delay: 0ms;
}
.dropdown-button[aria-expanded=true]::after {
	-webkit-transform:scaleY(-1);
	-moz-transform:scaleY(-1);
	-ms-transform:scaleY(-1);
	-o-transform:scaleY(-1);
	transform:scaleY(-1);
	-webkit-transition: transform .4s ease-out 0ms;
	-moz-transition: transform .4s ease-out 0ms;
	-o-transition: transform .4s ease-out 0ms;
	transition: transform .4s ease-out 0ms;
	transition-property: transform;
	transition-duration: .4s;
	transition-timing-function: ease-out;
	transition-delay: 0ms;
}
.dropdown.menu > li > a {
	display: flex;
	padding: 0;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
	border: none;
	content: '';
  display: flex;
  width: 8px;
  height: 8px;
  background-image: url(img/arrow-down.svg);
	background-repeat: no-repeat;
  top: 10px;
  position: relative;
  left: 8px;
	-webkit-transition: transform .4s ease-out 0ms;
	-moz-transition: transform .4s ease-out 0ms;
	-o-transition: transform .4s ease-out 0ms;
	transition: transform .4s ease-out 0ms;
	transition-property: transform;
	transition-duration: .4s;
	transition-timing-function: ease-out;
	transition-delay: 0ms;
}
.dropdown.menu > li.is-dropdown-submenu-parent.is-active > a::after {
	-webkit-transform:scaleY(-1);
	-moz-transform:scaleY(-1);
	-ms-transform:scaleY(-1);
	-o-transform:scaleY(-1);
	transform:scaleY(-1);
	-webkit-transition: transform .4s ease-out 0ms;
	-moz-transition: transform .4s ease-out 0ms;
	-o-transition: transform .4s ease-out 0ms;
	transition: transform .4s ease-out 0ms;
	transition-property: transform;
	transition-duration: .4s;
	transition-timing-function: ease-out;
	transition-delay: 0ms;
}
.input__text {
	padding: 12px 16px;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	border-radius: 4px;
	border: 1px solid #DCE6EF;
	outline: none;
}
.input__text-black {
	background: #E9EFF4;
	border: 1px solid #DCE6EF;
}
.input__submit {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	padding: 13px 24px;
	background: #0EA6E7;
	border-radius: 4px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
}
.btn:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.dropdown-button {
	display: flex;
	padding: 16px 0;
	font-size: 16px;
	line-height: 19px;
	color: #647C92;
}
/* header */
.header {
	background: #FFFFFF;
	position: relative;
	z-index: 11;
}
.header_top {
	background: #EEF0F4;
	position: relative;
	z-index: 10;
}
.header_bottom {
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
	height: 51px;
}
.header_top_left {
	display: flex;
	flex-direction: row;
}
.header_top_right {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.svg-hover:hover svg path {
	fill: #F57C00!important;
}
.top_search {
	padding: 10px;
}
.top_search:hover svg path {
	fill: #F57C00;
}
.header_top__login {
	margin-right: 32px;
}
.login_top__text {
	font-size: 16px;
}
.login_top__icon {
	display: flex;
    align-items: center;
	margin-right: 12px;
}
.login_top {
	display: flex;
	flex-direction: row;
}
.form_one {
	background-color: #0EA6E7;
}
.check-one__item label {
	color: #fff;
}
.header_top__inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header_top__menu ul {
	display: flex;
	flex-direction: row;
}
.header_top__menu ul li {
	padding-right: 24px;
}
.header_top__menu ul li a {
	display: flex;
	padding-top: 22px;
    padding-bottom: 19px;
	line-height: 17px;
}
.header_top__menu ul li:first-child a {
	border-bottom: 2px solid #0EA6E7;
}
.header_top__menu {
	display: flex;
	align-items: center;
}
.header_top__logo {
  padding-right: 32px;
  padding-top: 15px;
}
.header_bottom__menu > ul {
	display: flex;
	flex-direction: row;
}
.header_bottom__menu > ul > li {
	padding-right: 24px;
}
.header_bottom__menu > ul > li > a {
	display: flex;
	padding: 16px 0!important;
	font-size: 16px;
	line-height: 19px;
	color: #647C92;
}
.header_bottom__menu ul > li > a:hover, .dropdown .is-dropdown-submenu a:hover, .dropdown.menu > li.is-dropdown-submenu-parent > a:hover {
	color: #0EA6E7;
}
/* slider */
.slider .v-carousel__controls {
	background: transparent;
	justify-content: flex-end;
	bottom: 60px;
}
.slider .theme--dark.v-image {
	width: 600px;
	border-radius: 50%;
}
.slider-wrapper {
  width: 100%;
  position: relative;
	top: -40px;
}
.progress-round__wrap {
  width: 110px;
  height: 110px;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  text-align: center;
}
.slider__img {
	width: 600px;
	height: 600px;
	border-radius: 50%;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slider-content {
	visibility: hidden;
	height: 550px;
	transition: visibility 0s linear 300ms, opacity 300ms;
	opacity: 0;
}
.slider-content.slick-initialized {
	visibility: visible;
	transition: visibility 0s linear 0s, opacity 300ms;
	opacity: 1;
}
.slider__text {
	position: absolute;
	top: 40%;
	right: 0;
	width: 612px;
}
.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide {
	position: relative;
}
.slider .slick-slide {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.slick-slide > div {
	width: 100%;
}
.slider .slick-track {
  height: 100%;
}
.slider-content .slick-dots {
  position: absolute;
  bottom: 4.5rem;
  right: 100px;
  list-style-type: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider .slick-dots li {
  margin-right: 1rem;
  position: relative;
}
.slider .slick-dots li button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
	background: #C2CEE8;
  color: #0EA6E7;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.slider-content .slick-dots li button:hover {
  color: #0EA6E7;
	background: #0EA6E7;
}

.slider-content .slick-dots .slick-active button {
  color: #0EA6E7;
	background: #0EA6E7;
  border-color: transparent;
}

.slider-content .slick-dots .slick-active button:hover {
  border-color: transparent;
}

.slider-content .banner__info {
  margin-bottom: 4rem;
}

.slider-content .slick-active .banner .banner__image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 5s linear;
  transition: all 5s linear;
}

.progress-round__wrap {
  width: 16px;
  height: 16px;
  position: absolute;
  left: -4px;
  top: 3px;
  pointer-events: none;
  text-align: center;
  display: none;
}

.progress-round__wrap.show {
  display: block;
}

.circle-go {
  fill: rgba(255, 255, 255, 0);
  stroke: #0EA6E7;
  stroke-width: 3;
	padding: 2px;
  stroke-linecap: round;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.slick-slide {
  padding: 0 .5rem;
  outline: none;
}

.slick-slider img, .slick-slider a {
  outline: none;
}

.slick-slider .slick-arrow {
  position: absolute;
  top: calc(50% - 25px);
  z-index: 1;
  color: #911C2C;
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-slider .slick-next {
  right: 0;
}

.slick-slider .slick-next i {
  margin-left: 4px;
}

.slick-slider .slick-prev i {
  margin-right: 4px;
}

.slick-slider .slick-arrow.slick-disabled {
  opacity: 0;
  visibility: hidden;
}
.slider__text-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	color: #283348;
	word-break: break-all;
}
.figure_one {
	position: relative;
	width: 100%;
  height: 100%;
	margin: 0;
}
.figure_one::before {
	content: '';
	shape-outside: polygon(98% 0, 100% 0, 100% 100%, 57% 100%, 0 100%, 0 50%, 99% 51%);
  width: 450px;
  height: 120px;
	float: right;
}
.slider__text-desc {
    font-size: 18px;
    line-height: 28px;
    color: #283348;
    position: absolute;
    top: 43px;
    left: 160px;
    width: 326px;
}
/* special */
.special_block {
	width: 33.3333%;
}
.section_content {
	height: 280px;
	color: #fff;
}
.section_content span {
	padding-bottom: 6px;
	z-index: 12;
}
/* news */
.news_content {
	height: 440px;
	color: #fff;
}
.news_content-small {
	height: 280px;
	color: #fff;
	width: 100%;
}
.news_content-smaller {
	height: 160px;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.news_content-smaller:first-child {
	/* padding-right: 8px; */
}
.news_content-smaller:last-child {
	/* padding-left: 8px; */
}
.news_content-2 {
	height: 456px;
	color: #fff;
}
.news_content__inner {
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 560px;
  justify-content: center;
  text-align: center;
}
.news_content__inner-2 {
	width: 364px;
	z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.news_content-small__desc {
	width: 450px;
	z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.news_content-smaller__img {
	width: 120px;
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	height: inherit;
	position: relative;
	margin-right: 16px;
}
.news_inner__2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.news-white {
	background: #fff;
	width: 268px;
	padding: 30px 20px;
	color: #333;
}
.news_content-smaller__desc {
	z-index: 11;
}
.news_content-smaller__img .background-image {
	width: 120px;
	height: 160px;
}
.news_content-smaller__desc .img_title {
	font-size: 20px;
    line-height: 24px;
	color: #283348;
}
.news_content-smaller__desc .img_title-lower {
	font-size: 14px;
	line-height: 17px;
	color: #647C92;
	opacity: 0.8;
}
.news_content-smaller__desc {
  width: 214px;
  display: flex;
  flex-direction: column;
}
.back-grey {
	background: #EEF0F4;
}
.adv_info {
	font-size: 18px;
	line-height: 28px;
	color: #647C92;
}
.adv_content  {
	display: flex;
	flex-direction: row;
}
.adv_content__img {
	padding-right: 16px;
}
.adv_content__desc {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #102859;
	width: 160px;
}
.adv_content__desc span::after {
	content: '';
	display: flex;
	width: 60px;
	height: 4px;
	background: #0EA6E7;
	margin-top: 16px;
}
.adv_info {
	padding-bottom: 30px;
}
.adv_inner {
	padding-bottom: 90px;
}
.service__inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 64px;
}
.service__block {
	width: 33.33333%;
	position: relative;
}
.service__content {
	padding: 32px 60px;
	color: #fff;
	z-index: 10;
	position: relative;
}
.service__content h3 {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	margin: 0;
}
.service__content p {
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	/* height: 100px; */
}
.button {
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	padding: 12px 40px;
	background: #FFFFFF;
	border-radius: 4px;
}
.service__button {
	width: 160px;
}
.yellow {
	color: #FFB524;
}
.blue {
	color: #0EA6E7;
}
.black {
	color: #283348;
}
.service__img {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner {
	background-image: url(img/banner-mail.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* height: 260px; */
	padding: 46px 0;
}
.banner_mail {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.banner_mail__content {
	width: 464px;
	color: #fff;
}
.banner_mail__form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.banner_mail__form .input__submit {
	width: 176px;
	text-align: center;
}
.banner_mail__form .input__text {
	width: 272px;
}
.banner_mail__content h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	margin: 0;
	color: #FFFFFF;
}
.banner_mail__content p {
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}
/* calc */
.calc_bottom {
	padding: 0 32px 0 32px;
}
.calc_bottom .tabs-title > a {
	font-size: 16px;
}
.tabs {
	border: none;
}
.tabs-title > a:hover {
  background: transparent;
  color: #fff;
}
.tabs-content {
  border: none;
  border-top: 0;
  background: #fefefe;
}
.tabs-panel {
	padding: 0;
}
.calc_top .tabs-title > a {
	font-weight: bold;
}
.calc_top li, .calc_bottom li {
	padding-right: 25px;
}
.tabs-title > a {
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	opacity: 0.75;
	padding: 20px 0 17px;
}
.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
  background: transparent;
  color: #fff;
	outline: none;
	border-bottom: 3px solid #fff;
	opacity: 1;
}
.calc_content {
	border-radius: 0 0 8px 8px;
	overflow: hidden;
}
.calc_content .tabs {
	background: transparent
}
.calc_content .tabs-content {
	background: transparent;
	position: relative;
}
.calc_content .tabs-content::before {
  content: '';
  display: flex;
  height: 1px;
  width: 94%;
  position: absolute;
  top: 0;
  left: 32px;
  background: #3DB7EB;
}
.calc_form-main {
	padding: 16px 32px 32px;
}
.calc-main_city__inner {
	display: flex;
	flex-direction: row;
	margin-left: -8px;
	margin-right: -8px;
}
.calc-main_city__block {
	padding-left: 8px;
	padding-right: 8px;
	display: flex;
	flex-direction: column;
}
.city__block-one {
	width: 35%;
}
.city__block-two {
	width: 15%;
}
.calc_arrow {
	width: 5%;
	display: flex;
	align-items: center;
	height: 48px;
	margin-top: auto;
	justify-content: center;
}
.city__block-three {
	width: 45%;
}
.text-middle {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}
.text-middle__grey {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #8CDBFC;
}
.calc-col__item {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.plus-minus-input {
	padding-top: 16px;
}
.calc-input {
	position: relative;
}
.calc-input .input__text {
	width: 100%;
	padding-left: 45px;
}
.city__block-two .calc-input .input__text {
	padding-left: 16px;
}
.city__block-two .calc-input .calc-icon{
	left: auto;
    right: 18px;
    top: 15px;
}
.calc-input .input__text::placeholder {
	color: #ABC3D9;
}
.calc-icon {
	position: absolute;
	top: 10px;
	left: 16px;
}
.calc-main_city__block span {
	padding-bottom: 16px;
}
.custom-checkbox {
	position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #fff;
	padding: 3px;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #fff;
}
.custom-checkbox:not(:disabled):active+label::before {
  background-color: #fff;
  border-color: #fff;
}
.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #fff;
}
.custom-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.calc-main_center {
	padding-top: 32px;
}
.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 15px;
	user-select: none;
}
.form_radio label:before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border: 2px solid #fff;
	border-radius: 50%;
}
.form_radio input[type=radio]:checked + label:before {
	background: #fff;
}
.form_radio input[type=radio]:checked + label::after {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border-radius: 50%;
}
.form_radio label:hover:before {
	filter: brightness(120%);
}
.line {
	margin-left: 32px;
	margin-right: 32px;
	position: relative;
}
.line::after {
	content: '';
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 24px;
	background: #E7E7E7;
}
.radio-block {
	padding-left: 8px;
  padding-right: 8px;
}
.row-line {
	background: #3DB7EB;
	width: 100%;
	height: 1px;
	margin-top: 16px;
	margin-bottom: 32px;
}

.input-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.input-group-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 32px;
}
.input-group input[type=number] {
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 32px;
	padding: 5px;
	border-radius: 4px;
	background: #E9EFF4;
	text-align: center;
	color: #999;
	border: none;
	outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
}
input[type=number] {
	-moz-appearance: textfield;
}
.input-group-button .minus .minus_ico {
	width: 14px;
	height: 20px;
	background-image: url("./img/minus.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.input-group-button:hover {
	border-color: #a09f9f;
}
.input-group-button button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	outline: none;
}
.input-group-button .plus .plus_ico {
	width: 14px;
	height: 20px;
	background-image: url("./img/plus.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.calc-col__inner {
	margin-left: -16px;
	margin-right: -16px;
}
.calc-col__block {
	padding-left: 16px;
	padding-right: 16px;
}
.calc-col__block:last-child {
	margin-left: auto;
	margin-top: auto;
}
.calc-sumbit__inner {
	display: flex;
	position: relative;
}
.calc-sumbit__inner input {
	position: relative;
	text-align: center;
	background: #FFFFFF;
	box-shadow: 0px 2px 8px #127DAA;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #0EA6E7;
	width: 350px;
}
.calc-sumbit__loop {
	position: absolute;
    width: 20px;
    height: 20px;
    top: 13px;
    right: 36%;
    background-image: url(img/loop.svg);
    background-position: center;
    background-repeat: no-repeat;
}
/* footer */
.footer {
	background: #fff;
	padding-top: 32px;
	padding-bottom: 40px;
	font-size: 16px;
	line-height: 19px;
	color: #647C92;
}
.footer_info {
	width: 33.333%;
}
.footer_menu {
	width: 33.333%;
}
.footer_contact {
	width: 33.333%;
}
.footer_inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer_info__text {
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 16px;
	line-height: 19px;
	color: #647C92;
}
.footer_inner {
	margin-left: -20px;
	margin-right: -20px;
}
.footer__block {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	padding-right: 20px;
}
.footer_mailto {
	display: flex;
	flex-direction: row;
}
.footer_mailto__text {
	/* width: 176px; */
	margin-right: 16px;
}
.footer_mailto-info {
	padding-top: 10px;
}
.footer_menu > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.is-dropdown-submenu {
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.is-dropdown-submenu {
	padding: 6px 0;
}
.is-dropdown-submenu li {
	/* margin-bottom: 20px; */
}
.is-dropdown-submenu li:last-child {
	margin-bottom: 0;
}
.dropdown .is-dropdown-submenu a {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	padding: 12px 24px;
}
.dropdown.menu > li.is-active > a {
	color: #0EA6E7;
}
.header_bottom__menu .dropdown .is-dropdown-submenu > li > a {
	position: relative;
	transition: 0.15s all ease;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	padding: 12px 24px;
}
.header_bottom__menu .dropdown .is-dropdown-submenu > li > a:hover {
	padding-left: 40px;
}
.header_bottom__menu .dropdown .is-dropdown-submenu > li > a:hover::after {
	content: '';
	display: flex;
	width: 8px;
	height: 8px;
	background-image: url(./img/dropdown-right.svg);
	background-repeat: no-repeat;
	position: absolute;
	left: 24px;
	top: calc( 50% - 5px);
	margin-top: unset;
}
.footer_menu > ul > li {
	width: 50%;
	padding-bottom: 16px;
}
.footer_menu > ul li a {
	font-size: 15px;
	line-height: 19px;
	color: #647C92;
}
.footer_menu > ul li a:hover {
	color: #0EA6E7;
}
.footer_contact__content ul li {
	padding-bottom: 16px;
}
.footer_contact__content ul li a {
	font-size: 16px;
	line-height: 19px;
	color: #0EA6E7;
}
.footer_contact__content ul li img {
	margin-right: 16px;
}
.input__text-black::placeholder {
	color: #ABC3D9;
}
.footer_visa ul {
	display: flex;
	flex-direction: row;
}
.footer_visa {
	padding-top: 20px;
}
.footer_visa ul li {
	padding-right: 17px;
}
